<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="TestApi">

        <parameter name="id" value="99"/>
        <parameter name="userId" value="10"/>
        <parameter name="newId" value="101"/>
        <parameter name="newUserId" value="1"/>

        <classes>
            <class name="tests.TestClassApi">
                <methods>
                    <include name="getAllPostsFirstTest"/>
                    <include name="check99id"/>
                    <include name="post150"/>
                    <include name="checkPostRequestWithUserId1"/>
                    <include name="checkUserId5"/>
                    <include name="compareUser5WithPreviousStep"/>
                </methods>
            </class>       
        </classes>

    </test>
</suite>